@font-face{
  src: url(../fonts/SF-Pro-Text-Regular.ttf);
  font-family: SF Pro Text;
}
@import 'consts';
@import 'layout';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
select,button{
  width: 100%;
  height: 48px;
  font-size: 15px;
}
input[type="text"], input[type="password"], textarea, select { 
  outline: none;
}
html {
  font-size: 16px;
  font-family: SF Pro Text;
}
button{
  border: none;
  background-color: white;
}

.call-card {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px 24px;
  .title {
    font-size: 13px;
    color: $primary;
  }
  .who {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 700s;
    font-size: 24px;
  }
  .time-card {
    display: flex;
    padding: 17px;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    svg{
      margin-right: 10px;
    }
    span{
      font-weight: 400;
      font-size: 13px;
    }
  }
  .location{
    font-size: 13px;
  }
}

.call-image {
  background: url("https://images.unsplash.com/photo-1600382803118-e42a0cec247a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  height: 200px;
  object-fit: cover;
  position: relative;
  border-radius: 8px;
}

.call_action_area {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.call_action_button {
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 50%;
}
.call_action_button + .call_action_button {
  margin-left: 12px;
}

.user-area {
  padding: 15px 24px;
  svg{
    margin-right: 10px;
  }
  .name {
    font-size: 15px;
    font-family: "SF Pro Text";
    font-weight: 400;
  }
}

.settings-area {
  display: grid;
  grid-row-gap: 12px;
  grid-template-columns: 1fr 2fr;
  .setting-title {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #222222;
  }
  select{
    width: 100%;
    height: 48px;
    -webkit-appearance: none;
    background-image: url('../icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
    padding-left: 16px;
    padding-right: 16px;
  }
}
