$font-family: 			'Flama', sans-serif;
$font-size: 			16px;

//colors

$primary-color          :#00326c;
$primary-color-1        :#214167;
$primary-color-2        :#00326c;


$secondary-color        :#aa1554;


$white                  :#fff;
$text-color             :#56575b;

$muted-color            :#efe5d6;


$font-weight-300: 300   !default;
$font-weight-350: 350   !default;
$font-weight-400: 400   !default;
$font-weight-500: 500   !default;
$font-weight-600: 600   !default;
$font-weight-700: 700   !default;

$border-radius-extra-small:     0.125rem    !default;
$border-radius-small:           0.1875rem   !default;
$border-radius-large:           0.550rem     !default;
$border-radius-extreme:         0.875rem    !default;

// Breakpoints
$break-xsmall: 			640px;
$break-small: 			768px;
$break-medium: 			992px;
$break-1024: 			1024px;
$break-large: 			1200px;
$break-1280: 			1280px;
$break-xlarge: 			1440px;
$break-xxlarge: 		1600px;
