.reflex-logo{
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  top: 45px;
  margin: 0 auto;
  z-index: 1;
    img{
      position: relative;
      top: -10px;
    }
}

.shrink {
  .logo{
    width: 80px;
  }
 }


.releated-product-item{
  margin:20px;
}
.product-detail-bg{
  background:url('../img/bg/bg-urun-detay.png') ;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.iconView{

  &:hover{
    animation: slideOutRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
  }
}

.releated-products-slider{
  .owl-dots .owl-dot {
    &:focus{
      outline: none;
    }
    
    span{
      background-color: #d6a751b2;
    }

    &.active span{
      background-color: #d6a751;
      transform: scale(2);
    }
  }
  .product-card{
    min-height: 550px;
  }
}



.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}



.dog-bg{
  background:url('../img/dog.svg') ;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.cat-bg{
  background:url('../img/cat.svg') ;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.img-prize{
  position: absolute;
  right: 0px;
  bottom: -130px;
  width: 45%;
}

.img-cat{
  width: 230px;
  height: auto;
  position: absolute;
  right: 0; 
  bottom: 0;
  
}
.img-dog{
  width: 260px;
  height: auto;
  position: absolute;
  left: 0; 
  bottom: 0;
}

.pet-food-content{
    padding: 30px 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;
}

.food-prize{
  background:$radial-gradient ;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 100px 0;
}

input[type="search"] {
  padding: .2em .4em;
  border-radius: .2em;
  font-size: .8rem;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  cursor:pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .5;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

.ic-colored::before{
  content: '';
  background-color: $light-blue;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  left: 4px;
  border-radius: 50%;
  
}
.rlx-icons span{
  display: inline-block;
  background-color: white;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 50%;
  margin-bottom: 5px;
  &:not(:last-child){
    margin-right: 20px;
  }
}

.rlx-icons span svg{
  fill: $color-primary;
}


.special-title{
  display: flex;
  align-items: center;
  justify-content: center;
  &::after{
    background: $purple;
    height: 1px;
    flex: 1;
    content: '';
    margin-left:20px ;
  }
}
.event-item-form{
  padding: 10px;
}
.video-sec-separator{
  background-color: white;
  position: absolute;
  height: 150px;
  width: 150px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  left: 46%;
  top: 30%;
  box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
  z-index: 99;
  
}
.prd-detail-grid{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-gap:10px;
}

.video-sec{
  position: relative;
  color: $color-primary;
  background: linear-gradient(to right,#020202ba, #161616cc), url('../img/video-cover.png');
  background-repeat: no-repeat;
  background-size:auto 100% ;
  width: 100%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.page-hero-sec{
  height: 110px;
}
.page-title-sec{
  padding: 50px 0;
  position: relative;
  z-index: 2;
  h1{
    font-family: $font-bold;
  }
  p{
    font-family: $font-book;
  }
}
.drop-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.drop-btn::after{
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  color: $color-primary;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.features{

  
  img:not(:last-child){
    margin-right: 20px;

  }
}

.img-prod{
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.food-content-sec{
  font-family: $font-book;
  margin-bottom: 20px;
  .food-content-title{
    font-size: 1.2rem;
  }
  .food-content-desc{
    color: $muted-color;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $white;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: $light-blue;
}
.table{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: $muted-color;
}
.table td, .table th {
  border: 1px solid #dee2e6;
}


@include min-screen($break-small) {
  .hide-more-md {
    display: none !important;
  }
  .bg-footer{
    background-position-x: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2388' height='1221.044' viewBox='0 0 2388 1221.044'%3E%3Cellipse id='Ellipse_34' data-name='Ellipse 34' cx='1194' cy='610.522' rx='1194' ry='610.522' fill='%234f1492'/%3E%3C/svg%3E%0A");
  }
  .prd-bg{
    background: url('../img/bg/bg-urun-detay.png');
    background-repeat: no-repeat;
    background-position-x: center ;
    background-size: cover;
  }
  .prd-img{
    margin-bottom: -162px;
  }

}
@include max-screen($break-small) {
  .prd-detail-grid{
    grid-template-columns:repeat(1,1fr);
   
  }
  .bg-footer{
    background-color: $purple;
  }
  .hide-less-md {
    display: none !important;
  }

  .video-sec{
    background-size: auto 100%;
  }

  .features{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,25%);
    top: unset;
    img{width: 100%;}
  }

  .img-cat{
    width: 210px;
  }
  .img-dog{
    width: 210px;

  }
  .img-prize{
    right: 0px;
    width: 80%;
    bottom: -80px;
  }

}

@include max-screen($break-1024) {
  .hidden-md {
    display: none !important;
  }
  
}
