.sm-clean {
  border-radius: 5px;
}

.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
  padding: 13px 20px;
  padding-right: 58px;
  color: #555555;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}
.sm-clean a.current {
  color: #009745 ;
}
.sm-clean a.disabled {
  color: #bbbbbb;
}
.sm-clean a .sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.sm-clean a .sub-arrow::before {
  content: '+';
}
.sm-clean a.highlighted .sub-arrow::before {
  content: '-';
}
.sm-clean > li:first-child > a, .sm-clean > li:first-child > :not(ul) a {
  border-radius: 5px 5px 0 0;
}
.sm-clean > li:last-child > a, .sm-clean > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  border-radius: 0 0 5px 5px;
}
.sm-clean > li:last-child > a.highlighted, .sm-clean > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  border-radius: 0;
}
.sm-clean li {
  padding: .8rem 0;
}
.sm-clean > li:first-child {
  border-top: 0;
}
.sm-clean ul {
  background: rgba(162, 162, 162, 0.1);
}
.sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active {
  font-size: 16px;
  border-left: 8px solid transparent;
}
.sm-clean ul ul a,
.sm-clean ul ul a:hover,
.sm-clean ul ul a:focus,
.sm-clean ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-clean ul ul ul a,
.sm-clean ul ul ul a:hover,
.sm-clean ul ul ul a:focus,
.sm-clean ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-clean ul ul ul ul a,
.sm-clean ul ul ul ul a:hover,
.sm-clean ul ul ul ul a:focus,
.sm-clean ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-clean ul ul ul ul ul a,
.sm-clean ul ul ul ul ul a:hover,
.sm-clean ul ul ul ul ul a:focus,
.sm-clean ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (max-width: 768px) {
  .main-nav{
    background-color: white;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3crect width='352' height='352' clip-path='url(%26quot%3b%23SvgjsClipPath1031%26quot%3b)' x='58.03' y='-42.42' fill='url(%23SvgjsPattern1032)' transform='rotate(61.95%2c 234.03%2c 133.58)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='315.88' cy='130.35' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/circle%3e%3cpath d='M719.32 197.18L730.01 204.22 725.5 216.2 736.19 223.24 731.68 235.22 742.37 242.26 737.86 254.24M711.71 199.65L722.41 206.69 717.89 218.67 728.59 225.71 724.07 237.69 734.77 244.73 730.25 256.71M704.1 202.12L714.8 209.16 710.28 221.14 720.98 228.18 716.46 240.17 727.16 247.2 722.64 259.19' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M259.11 347.38L246.95 351.39 240.37 340.41 228.2 344.42 221.62 333.43 209.46 337.44 202.88 326.46M261.9 339.88L249.74 343.89 243.16 332.91 230.99 336.92 224.41 325.93 212.25 329.94 205.67 318.96M264.69 332.38L252.53 336.4 245.95 325.41 233.78 329.42 227.2 318.44 215.04 322.45 208.46 311.46' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1.48' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1033%26quot%3b)' x='437.76' y='64.46' fill='url(%23SvgjsPattern1034)' transform='rotate(218.37%2c 515.76%2c 142.46)'%3e%3c/rect%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1035%26quot%3b)' x='1089.17' y='484.44' fill='url(%23SvgjsPattern1036)' transform='rotate(99.88%2c 1161.17%2c 556.44)'%3e%3c/rect%3e%3cpath d='M1165.81 615.4 L1228.67 522.85L1263.2083829751775 635.0933829751775z' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/path%3e%3cpath d='M859.16 216.48a5.6 5.6 0 1 0-11.03-1.93 5.6 5.6 0 1 0 11.03 1.93zM843.4 213.73a5.6 5.6 0 1 0-11.03-1.92 5.6 5.6 0 1 0 11.03 1.92zM827.64 210.98a5.6 5.6 0 1 0-11.03-1.92 5.6 5.6 0 1 0 11.03 1.92zM811.88 208.23a5.6 5.6 0 1 0-11.04-1.92 5.6 5.6 0 1 0 11.04 1.92z' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1.46' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M1221.9 521.93L1209.11 522.45 1205.79 510.09 1192.99 510.61 1189.68 498.24 1176.88 498.76 1173.56 486.39' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1.73' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1037%26quot%3b)' x='1214.77' y='445.77' fill='url(%23SvgjsPattern1038)' transform='rotate(66.67%2c 1286.77%2c 517.77)'%3e%3c/rect%3e%3crect width='139.44' height='139.44' clip-path='url(%26quot%3b%23SvgjsClipPath1039%26quot%3b)' x='297.76' y='401.1' fill='url(%23SvgjsPattern1040)' transform='rotate(95.17%2c 367.48%2c 470.82)'%3e%3c/rect%3e%3cpath d='M119.28 658.9000000000001 L189.95 622.14L195.01001466339622 680.9150146633962z' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='8.8' height='8.8' patternUnits='userSpaceOnUse' id='SvgjsPattern1032'%3e%3cpath d='M4.4 1L4.4 7.800000000000001M1 4.4L7.800000000000001 4.4' stroke='rgba(116%2c 37%2c 205%2c 0.13)' fill='none' stroke-width='1.42'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1031'%3e%3ccircle r='88' cx='234.03' cy='133.58'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1034'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(116%2c 37%2c 205%2c 0.13)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1033'%3e%3ccircle r='39' cx='515.76' cy='142.46'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1036'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(116%2c 37%2c 205%2c 0.13)' fill='none' stroke-width='1.29'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1035'%3e%3ccircle r='36' cx='1161.17' cy='556.44'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='144' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1038'%3e%3crect width='144' height='3' x='0' y='0' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/rect%3e%3crect width='144' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1037'%3e%3ccircle r='36' cx='1286.77' cy='517.77'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='139.44' height='11.62' patternUnits='userSpaceOnUse' id='SvgjsPattern1040'%3e%3crect width='139.44' height='5.81' x='0' y='0' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/rect%3e%3crect width='139.44' height='5.81' x='0' y='5.81' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1039'%3e%3ccircle r='34.86' cx='367.48' cy='470.82'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");    padding: 6rem 0;
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 515px;
    width: 100%;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    -webkit-transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  }
  .main-nav.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  

}

@media (min-width: 768px) {

  .sm-clean ul {
    position: absolute;
    width: 12em;
  }

  .sm-clean li {
    float: left;
  }

  .sm-clean.sm-rtl li {
    float: right;
  }

  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li {
    float: none;
  }

  .sm-clean a {
    white-space: nowrap;
  }

  .sm-clean ul a, .sm-clean.sm-vertical a {
    white-space: normal;
  }

  .sm-clean .sm-nowrap > li > a, .sm-clean .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-clean {
    padding: 0 10px;
    border-radius: 100px;
  }
  .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    padding: 12px 12px;
    color: #555555;
    border-radius: 0 !important;
  }
  .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    color: #009745 ;
    border-bottom: 1px solid #009745;
  }
  .sm-clean a.current {
    color: #009745 ;
  }
  .sm-clean a.disabled {
    color: #bbbbbb;
  }
  .sm-clean a.has-submenu {
    padding-right: 24px;
  }
  .sm-clean a .sub-arrow {
    top: 50%;
    margin-top: -2px;
    right: 12px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
    background: transparent;
    border-radius: 0;
  }

  .sm-clean a{
    border: 1px solid transparent;
  }
  .sm-clean a .sub-arrow::before {
    display: none;
  }
  .sm-clean li {
    border-top: 0;
  }

  .sm-clean > li > ul::after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
  }
  .sm-clean ul {
    border: 1px solid #f8f9fa;
    background: #fff;
    border-radius: 5px !important;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  }
  .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    border: 1;
    padding: 10px 20px;
    color: #555555;
  }
  .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    color: #009745 ;
    border-bottom: 2px solid #009745;
  }
  .sm-clean ul a.current {
    color: #009745 ;
  }
  .sm-clean ul a.disabled {
    background: #fff;
    color: #cccccc;
  }
  .sm-clean ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-clean ul a .sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-clean .scroll-up,
  .sm-clean .scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    height: 20px;
  }
  .sm-clean .scroll-up:hover,
  .sm-clean .scroll-down:hover {
    background: #eeeeee;
  }
  .sm-clean .scroll-up:hover .scroll-up-arrow {
    border-color: transparent transparent #009745  transparent;
  }
  .sm-clean .scroll-down:hover .scroll-down-arrow {
    border-color: #009745  transparent transparent transparent;
  }
  .sm-clean .scroll-up-arrow,
  .sm-clean .scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .sm-clean .scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .sm-clean.sm-rtl a.has-submenu {
    padding-right: 12px;
    padding-left: 24px;
  }
  .sm-clean.sm-rtl a .sub-arrow {
    right: auto;
    left: 12px;
  }
  .sm-clean.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-clean.sm-rtl.sm-vertical a .sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-clean.sm-rtl > li > ul::before {
    left: auto;
    right: 30px;
  }
  .sm-clean.sm-rtl > li > ul::after {
    left: auto;
    right: 31px;
  }
  .sm-clean.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-clean.sm-rtl ul a .sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-clean.sm-vertical {
    padding: 10px 0;
    border-radius: 5px;
  }
  .sm-clean.sm-vertical a {
    padding: 10px 20px;
  }
  .sm-clean.sm-vertical a:hover, .sm-clean.sm-vertical a:focus, .sm-clean.sm-vertical a:active, .sm-clean.sm-vertical a.highlighted {
    background: #fff;
  }
  .sm-clean.sm-vertical a.disabled {
    background: #eeeeee;
  }
  .sm-clean.sm-vertical a .sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-clean.sm-vertical > li > ul::before,
  .sm-clean.sm-vertical > li > ul::after {
    display: none;
  }
  .sm-clean.sm-vertical ul a {
    padding: 10px 20px;
  }
  .sm-clean.sm-vertical ul a:hover, .sm-clean.sm-vertical ul a:focus, .sm-clean.sm-vertical ul a:active, .sm-clean.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }
  .sm-clean.sm-vertical ul a.disabled {
    background: #fff;
  }
}

