@font-face {
  src: url(../fonts/SF-Pro-Text-Regular.ttf);
  font-family: SF Pro Text;
}

.container-1 {
  width: 20%;
  max-width: 619px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f4f7fa;
}

.bordered {
  border: 1px solid #b9c3d5;
}

.rounded {
  border-radius: 8px;
}

.btn-primary {
  background-color: #3488fa;
  color: white;
}

.btn-outline-primary {
  border: 1px solid #3488fa;
  color: #3488fa;
}

.mt-24 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-4 {
  margin-bottom: 4px;
}

.text-muted {
  color: #818B9D;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select, button {
  width: 100%;
  height: 48px;
  font-size: 15px;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

html {
  font-size: 16px;
  font-family: SF Pro Text;
}

button {
  border: none;
  background-color: white;
}

.call-card {
  width: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px 24px;
}

.call-card .title {
  font-size: 13px;
  color: #3488fa;
}

.call-card .who {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 700s;
  font-size: 24px;
}

.call-card .time-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-card .time-card svg {
  margin-right: 10px;
}

.call-card .time-card span {
  font-weight: 400;
  font-size: 13px;
}

.call-card .location {
  font-size: 13px;
}

.call-image {
  background: url("https://images.unsplash.com/photo-1600382803118-e42a0cec247a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 8px;
}

.call_action_area {
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call_action_button {
  width: 48px;
  height: 48px;
  padding: 14px;
  border-radius: 50%;
}

.call_action_button + .call_action_button {
  margin-left: 12px;
}

.user-area {
  padding: 15px 24px;
}

.user-area svg {
  margin-right: 10px;
}

.user-area .name {
  font-size: 15px;
  font-family: "SF Pro Text";
  font-weight: 400;
}

.settings-area {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.settings-area .setting-title {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #222222;
}

.settings-area select {
  width: 100%;
  height: 48px;
  -webkit-appearance: none;
  background-image: url("../icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  padding-left: 16px;
  padding-right: 16px;
}
/*# sourceMappingURL=style.css.map */