body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
                   /* Non-prefixed version, currently
supported by Chrome and Opera */
}

#besideMouse {
  z-index: 10;
  top: -1000px;
  position: fixed;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  opacity: 0.75;
  transform-origin: left center;
  transform: rotate(33deg);
  pointer-events: none;
  transition: opacity .5s;
}
#besideMouse.hidden {
  opacity: 0.20;
}

h1 {
  color: rgba(0, 0, 0, 0.75);
  text-stroke: 5px black;
  padding: 0;
  pointer-events: none;
}
h1 span.struck {
  color: rgba(0, 0, 0, 0.95);
}

hr {
  color: rgba(0, 0, 0, 0.75);
  border: none;
  border-top: 1px solid;
  background: none;
}

p {
  color: rgba(0, 0, 0, 0.45);
}

a {
  color: #F7ACCF;
  text-decoration: none;
}
a span.struck {
  color: #CB8DAA;
}

.smaller {
  font-size: 0.65em;
}

em {
  opacity: 0.5;
}

.aside {
  margin-top: 2rem;
}
.aside a {
  color: #5DD9C1;
}
.aside span.struck {
  color: #33776A;
}

#world {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.title .wrapNode {
  display: inline;
}
.title span {
  line-height: 0.5em;
  display: inline-block;
  transform: translateY(0);
  transition: transform 0.15s, color 0.25s;
}
.title span.struck {
  transform: translateY(0.2em);
}
.text-muted{
  color: darkgray!important;
}

.small-text{
  font-size: 14px!important;
}
.about{
  width: 500px;
}
