.top-stick{
    a{
        color: white;
    }
}


.main-menu, .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li a{
        font-weight: 500!important;
        color: $color-dark!important;

        &:hover{
            color: $primary-color!important;
        }
    }
    li {
        padding-left: 1em; 
        text-indent: -.7em;
        display: flex;
        align-items: center;
        margin-right:15px ;
    }
    li:not(:first-child):before {
        margin-right:7px ;
        content: "•";
        color: $secondary-color;
    }
}
.main-menu li a{
    color: #b1b1b1!important;
    font-weight: bold!important;
}
.footer-menu{
    display: flex;
    li{
        margin-right:5px ;
    }
}
  .searchForm{
    padding: 5px 10px;
    border: 1px solid $color-muted;
    border-radius: 50px;
    input{
        border: none;
        &:focus{
            box-shadow: none!important;
        }
    }
    button{
        border: none;
        padding-left:1.5em ;
        padding-right:1.5em ;
        border-radius: 35px;

    }
  }
 

  



@include min-screen($break-small) {
    .main-menu{
        border-right: 1px solid $color-muted;
    }

}
@include max-screen($break-small) {
    .footer-menu{
        font-size: .8em;
    }


}