// @font-face {
//   font-family: 'Museo', monospace;
//   src: url('fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'),
//   url("../fonts/GothamRounded-Bold.otf") format("opentype"),
//   url(fonts/roboto-mono-v12-latin-regular.ttf) format('truetype');
// }
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?23sl96');
  src:  url('../fonts/icomoon.eot?23sl96#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?23sl96') format('truetype'),
    url('../fonts/icomoon.woff?23sl96') format('woff'),
    url('../fonts/icomoon.svg?23sl96#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e904";
  color: #0e9ba6;
}
.icon-tick:before {
  content: "\e905";
  color: #0e9ba6;
}
.icon-aranan:before {
  content: "\e900";
  color: #fff;
}
.icon-arayan:before {
  content: "\e901";
  color: #fff;
}
.icon-telefon:before {
  content: "\e902";
  color: #0e9ba6;
}
.icon-takvim:before {
  content: "\e903";
  color: #0e9ba6;
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-drawer2:before {
  content: "\e95d";
}
.icon-search:before {
  content: "\e986";
}


@font-face {
  font-family: 'Museo',sans-serif;
  src: url('../fonts/Museo100-Regular.eot');
  src: url('../fonts/Museo100-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Museo100-Regular.svg#Museo100-Regular') format('svg'),
       url('../fonts/Museo100-Regular.ttf') format('truetype'),
       url('../fonts/Museo100-Regular.woff') format('woff'),
       url('../fonts/Museo100-Regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Museo',sans-serif;
  src: url('../fonts/Museo300-Regular.eot');
  src: url('../fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Museo300-Regular.svg#Museo300-Regular') format('svg'),
       url('../fonts/Museo300-Regular.ttf') format('truetype'),
       url('../fonts/Museo300-Regular.woff') format('woff'),
       url('../fonts/Museo300-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Museo',sans-serif;
  src: url('../fonts/Museo500-Regular.eot');
  src: url('../fonts/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Museo500-Regular.svg#Museo500-Regular') format('svg'),
       url('../fonts/Museo500-Regular.ttf') format('truetype'),
       url('../fonts/Museo500-Regular.woff') format('woff'),
       url('../fonts/Museo500-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo',sans-serif;
  src: url('../fonts/Museo700-Regular.eot');
  src: url('../fonts/Museo700-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Museo700-Regular.svg#Museo700-Regular') format('svg'),
       url('../fonts/Museo700-Regular.ttf') format('truetype'),
       url('../fonts/Museo700-Regular.woff') format('woff'),
       url('../fonts/Museo700-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Museo',sans-serif;
  src: url('../fonts/Museo900-Regular.eot');
  src: url('../fonts/Museo900-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Museo900-Regular.svg#Museo900-Regular') format('svg'),
       url('../fonts/Museo900-Regular.ttf') format('truetype'),
       url('../fonts/Museo900-Regular.woff') format('woff'),
       url('../fonts/Museo900-Regular.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


