@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-family: Roboto, Noto, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .left-menu {
  width: 20%;
  padding: 10px 0;
}

.account_image {
  background-image: url("https://images.unsplash.com/photo-1584339089855-2795cb396ce7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  border-radius: 20px;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_menu .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.top_menu .left .logo {
  width: 80px;
  height: 40px;
}

.top_menu .left .bars {
  margin-right: 32px;
  margin-left: 8px;
  font-size: 18px;
}

.top_menu .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_menu .center input {
  width: 32vw;
  height: 35px;
  border: 1px solid #cecece;
  text-indent: 10px;
  font-size: 16px;
}

.top_menu .center button {
  padding: 0 30px;
  border-radius: 0px;
  background-color: #f8f8f8;
  border-color: #cecece;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
}

.top_menu .center button i {
  color: #757575;
}

.top_menu .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top_menu .right i {
  font-size: 19px;
  color: #757575;
  margin-right: 30px;
}

.left-menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  font-weight: 300;
  padding: 10px 0px;
}

.left-menu .item i,
.left-menu .item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  font-size: 18px;
  padding: 5px 0px;
}

.left-menu .item .pp_image {
  background-image: url("https://images.unsplash.com/photo-1584339089855-2795cb396ce7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  border-radius: 20px;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-menu .item:active {
  background-color: #e5e5e5;
  font-weight: 600;
}

.left-menu .item:active i {
  color: #ff0000;
}

.left-menu h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 30px;
  color: #585858;
}

.left-menu hr {
  border: 1px solid #e5e5e5;
}

.text-muted {
  color: #757575;
}

.video_list {
  background-color: #eeeeee8e;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  padding: 20px;
  width: 100%;
}

.video_card .cover_image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.video_card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.video_card .header .video_meta {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  padding: 0 10px;
}

.video_card .header .video_meta .title {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 8px;
}

.video_card .header .video_meta .subtitle {
  font-weight: 200;
  font-size: 1em;
  margin-top: 3px;
}

.videopage {
  display: -ms-grid;
  display: grid;
  padding: 30px;
  background-color: #eeeeee8e;
}

.videopage__left .video {
  width: 100%;
  height: 736px;
  -o-object-fit: cover;
     object-fit: cover;
}

.videopage__right {
  padding: 0 20px;
}

.videopage__right .next {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .video_list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }
  .videopage {
    -ms-grid-columns: 73% 27%;
        grid-template-columns: 73% 27%;
  }
}

@media only screen and (max-width: 1024px) {
  .video_list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .left-menu {
    display: none;
  }
  .videopage {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .top_menu {
    padding: 10px 25px;
  }
  .top_menu .bars, .top_menu input, .top_menu .right {
    display: none;
  }
  .top_menu .center button {
    padding: 0 0px;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
  }
}
/*# sourceMappingURL=style.css.map */