$font-family: 			'Gotham Rounded Light', sans-serif;


$font-light:'Gotham Rounded Light';
$font-medium:'Gotham Rounded Medium';
$font-bold:'Gotham Rounded Bold';
$font-book:'Gotham Rounded Book';

$font-size: 			15px;

// Bootstrap colors
$color-primary: 			#232474;
$color-primary-1: 			#2324748f;

$color-secondary: 			#009745;
$color-secondary-2: 		#0097458f;

$color-ternary:               #FFC11E;
$color-ternary-1:             #FFE31E;


$linear-gradient-primary:linear-gradient(45deg, #6C22C1,#4F1492);
$linear-gradient-ternary:linear-gradient(45deg,$color-ternary, $color-ternary-1);
$radial-gradient:radial-gradient(#393bb4, #232475);


$muted-bg:#edecec;
$light-blue:#EDF0F7;
$purple:#4F1492;
$purple-soft:#4f1492a3;

$navy-blue:#232474;

$orange:#DF6F13;

$dark:                  #404040;
$white:					#fff;			
$link-color:			$purple;
$muted-color:			#707070;
$muted-border:			#d8d8d8;

$font-weight-300: 300   !default;
$font-weight-400: 400   !default;
$font-weight-500: 500   !default;
$font-weight-600: 600   !default;
$font-weight-700: 700   !default;

// Breakpoints
$break-xsmall: 			640px;
$break-small: 			768px;
$break-medium: 			992px;
$break-1024: 			1024px;
$break-large: 			1200px;
$break-1280: 			1280px;
$break-xlarge: 			1440px;
$break-xxlarge: 		1600px;



