@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?14mm4u");
  src: url("../fonts/icomoon.eot?14mm4u#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?14mm4u") format("truetype"), url("../fonts/icomoon.woff?14mm4u") format("woff"), url("../fonts/icomoon.svg?14mm4u#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-annual:before {
  content: "\e900";
}

.icon-bag:before {
  content: "\e901";
  color: #232474;
}

.icon-camp:before {
  content: "\e902";
  color: #232474;
}

.icon-cat:before {
  content: "\e903";
}

.icon-cat-foot:before {
  content: "\e904";
  color: #fff;
}

.icon-dog:before {
  content: "\e905";
}

.icon-food-advice:before {
  content: "\e906";
}

.icon-food-content:before {
  content: "\e907";
}

.icon-home:before {
  content: "\e908";
  color: #232474;
}

.icon-moon:before {
  content: "\e90a";
  color: #232474;
}

.icon-pin:before {
  content: "\e90b";
}

.icon-play:before {
  content: "\e90c";
  color: #232474;
}

.icon-prize:before {
  content: "\e90d";
}

.icon-walk:before {
  content: "\e90e";
  color: #232474;
}

@font-face {
  font-family: "Gotham Rounded Bold";
  src: url("fonts/GothamRounded-Bold.eot");
  src: url("../fonts/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamRounded-Bold.otf") format("opentype"), url("../fonts/GothamRounded-Bold.svg#filename") format("svg");
}

@font-face {
  font-family: "Gotham Rounded Book";
  src: url("fonts/GothamRounded-Book.eot");
  src: url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.otf") format("opentype"), url("../fonts/GothamRounded-Book.svg#filename") format("svg");
}

@font-face {
  font-family: "Gotham Rounded Medium";
  src: url("fonts/GothamRounded-Medium.eot");
  src: url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.otf") format("opentype"), url("../fonts/GothamRounded-Medium.svg#filename") format("svg");
}

@font-face {
  font-family: "Gotham Rounded Light";
  src: url("fonts/GothamRounded-Light.eot");
  src: url("../fonts/GothamRounded-Light.woff") format("woff"), url("../fonts/GothamRounded-Light.otf") format("opentype"), url("../fonts/GothamRounded-Light.svg#filename") format("svg");
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-title {
  font-family: 'Gotham Rounded Bold';
}

.responsive {
  width: 100%;
  height: auto;
}

.centered {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.border-primary {
  border: 1px solid #4F1492;
}

.bordered-bottom {
  border-bottom: 1px solid #009745;
}

.bordered-bottom-muted {
  border-bottom: 1px solid #edecec;
}

.bordered-bottom-white {
  border-bottom: 1px solid #fff;
}

.linear-gradient-primary {
  background-image: linear-gradient(45deg, #6C22C1, #4F1492);
}

.linear-gradient-ternary {
  background-image: linear-gradient(45deg, #FFC11E, #FFE31E);
}

.bordered-bottom-primary {
  border-bottom: 2px solid #232474;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.shadow-1 {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
}

.shadow-bottom {
  border-bottom: 1px solid #f1f1f1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.bg-orange {
  background: #DF6F13;
  color: rgba(255, 255, 255, 0.7);
}

.bg-muted {
  background: #edecec;
}

.bg-primary {
  background: #232474;
  color: rgba(255, 255, 255, 0.7);
}

.bg-purple {
  background: #4F1492;
  color: white;
}

.bg-white {
  background: #fff;
}

.bg-light-blue {
  background-color: #EDF0F7;
}

.text-primary {
  color: #4F1492 !important;
}

.text-navy {
  color: #232474 !important;
}

.rounded-25 {
  border-radius: 25px !important;
}

.rounded-50 {
  border-radius: 50px !important;
}

.text-muted {
  color: #707070;
}

.font-2x {
  font-size: 2em;
}

.h-100 {
  height: 100%;
}

.min-h-50 {
  min-height: 50px;
}

.ml-5 {
  margin-left: 5px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mx-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mx-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mx-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mx-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mx-25 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mx-30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mx-35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mx-40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.pl-5 {
  padding-left: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pt-35 {
  padding-top: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.px-35 {
  padding-right: 35px;
  padding-left: 35px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-0 {
  padding: 0 !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.font300 {
  font-weight: 300;
}

.font600 {
  font-weight: 600;
}

.font700 {
  font-weight: 700;
}

.font-bold {
  font-family: "Gotham Rounded Bold" !important;
}

.font-book {
  font-family: "Gotham Rounded Book" !important;
}

.card-shadow {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}

.z-index {
  z-index: 9999;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w60 {
  width: 60px;
}

.w80 {
  width: 80px;
}

.w100 {
  width: 100px;
}

.theme-bg {
  background: #232474;
}

.theme-bg.gradient {
  background: var(--primary-gradient);
}

@media screen and (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .box-title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .hidden-more-md {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .hidden-less-md {
    display: none !important;
  }
  .main-margin {
    margin-top: 110px;
  }
}

@media screen and (max-width: 992px) {
  .hidden-sm {
    display: none !important;
  }
}

html {
  font-size: 93.8%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  font-family: "Gotham Rounded Light", sans-serif;
  font-size: 15px;
}

body.overflow {
  overflow: hidden;
}

::-moz-selection {
  color: #fff;
  background: #009745;
  opacity: .6;
}

::selection {
  color: #fff;
  background: #009745;
  opacity: .6;
}

a {
  color: #4F1492;
}

a:hover, a:focus {
  color: #009745;
  text-decoration: none;
  outline: none;
}

main {
  display: block;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

select {
  -webkit-appearance: none;
  background-image: url(../icons/chevron.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

p {
  font-size: 1rem;
}

small {
  color: var(--text-muted);
  font-size: 0.833rem;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.form-control {
  border: 1px solid #d8d8d8;
  padding: 30px 20px;
  background-color: #fff;
  color: var(--font-color);
  font-family: "Gotham Rounded Book";
}

.form-control:focus {
  border: 1px solid #4f1492a3;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  cursor: pointer;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 85%;
  }
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.blob {
  -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
  }
  50% {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
  }
  50% {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.2);
  }
}

.reflex-logo {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 50%;
  top: 45px;
  margin: 0 auto;
  z-index: 1;
}

.reflex-logo img {
  position: relative;
  top: -10px;
}

.shrink .logo {
  width: 80px;
}

.releated-product-item {
  margin: 20px;
}

.product-detail-bg {
  background: url("../img/bg/bg-urun-detay.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.iconView:hover {
  -webkit-animation: slideOutRight;
          animation: slideOutRight;
  /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.releated-products-slider .owl-dots .owl-dot:focus {
  outline: none;
}

.releated-products-slider .owl-dots .owl-dot span {
  background-color: #d6a751b2;
}

.releated-products-slider .owl-dots .owl-dot.active span {
  background-color: #d6a751;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.releated-products-slider .product-card {
  min-height: 550px;
}

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.dog-bg {
  background: url("../img/dog.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.cat-bg {
  background: url("../img/cat.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.img-prize {
  position: absolute;
  right: 0px;
  bottom: -130px;
  width: 45%;
}

.img-cat {
  width: 230px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.img-dog {
  width: 260px;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}

.pet-food-content {
  padding: 30px 10px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.food-prize {
  background: radial-gradient(#393bb4, #232475);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}

input[type="search"] {
  padding: .2em .4em;
  border-radius: .2em;
  font-size: .8rem;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .5;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.ic-colored::before {
  content: '';
  background-color: #EDF0F7;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  left: 4px;
  border-radius: 50%;
}

.rlx-icons span {
  display: inline-block;
  background-color: white;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 50%;
  margin-bottom: 5px;
}

.rlx-icons span:not(:last-child) {
  margin-right: 20px;
}

.rlx-icons span svg {
  fill: #232474;
}

.special-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.special-title::after {
  background: #4F1492;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  content: '';
  margin-left: 20px;
}

.event-item-form {
  padding: 10px;
}

.video-sec-separator {
  background-color: white;
  position: absolute;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 46%;
  top: 30%;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
  z-index: 99;
}

.prd-detail-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.video-sec {
  position: relative;
  color: #232474;
  background: -webkit-gradient(linear, left top, right top, from(#020202ba), to(#161616cc)), url("../img/video-cover.png");
  background: linear-gradient(to right, #020202ba, #161616cc), url("../img/video-cover.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-hero-sec {
  height: 110px;
}

.page-title-sec {
  padding: 50px 0;
  position: relative;
  z-index: 2;
}

.page-title-sec h1 {
  font-family: "Gotham Rounded Bold";
}

.page-title-sec p {
  font-family: "Gotham Rounded Book";
}

.drop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop-btn::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  color: #232474;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.features img:not(:last-child) {
  margin-right: 20px;
}

.img-prod {
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.food-content-sec {
  font-family: "Gotham Rounded Book";
  margin-bottom: 20px;
}

.food-content-sec .food-content-title {
  font-size: 1.2rem;
}

.food-content-sec .food-content-desc {
  color: #707070;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #EDF0F7;
}

.table {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: #707070;
}

.table td, .table th {
  border: 1px solid #dee2e6;
}

@media screen and (min-width: 768px) {
  .hide-more-md {
    display: none !important;
  }
  .bg-footer {
    background-position-x: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2388' height='1221.044' viewBox='0 0 2388 1221.044'%3E%3Cellipse id='Ellipse_34' data-name='Ellipse 34' cx='1194' cy='610.522' rx='1194' ry='610.522' fill='%234f1492'/%3E%3C/svg%3E%0A");
  }
  .prd-bg {
    background: url("../img/bg/bg-urun-detay.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  .prd-img {
    margin-bottom: -162px;
  }
}

@media screen and (max-width: 768px) {
  .prd-detail-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .bg-footer {
    background-color: #4F1492;
  }
  .hide-less-md {
    display: none !important;
  }
  .video-sec {
    background-size: auto 100%;
  }
  .features {
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    top: unset;
  }
  .features img {
    width: 100%;
  }
  .img-cat {
    width: 210px;
  }
  .img-dog {
    width: 210px;
  }
  .img-prize {
    right: 0px;
    width: 80%;
    bottom: -80px;
  }
}

@media screen and (max-width: 1024px) {
  .hidden-md {
    display: none !important;
  }
}

.products-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.two-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.prod-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.grid-gap-10 {
  grid-gap: 10px;
}

.refleks-plus-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.row-deck > .col,
.row-deck > [class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.row-deck > .col .card,
.row-deck > [class*='col-'] .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

@media screen and (max-width: 768px) {
  .two-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
  .refleks-plus-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
  .prod-grid {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
  .products-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#refleksPlusCarousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#refleksPlusCarousel .owl-dots .owl-dot {
  background-color: white;
  color: #232474;
  margin-right: 10px;
  border-radius: 25px;
  padding: 7px 5px;
}

#refleksPlusCarousel .owl-dots .owl-dot .pagi-btn {
  border-radius: 25px;
  font-size: 1.3em;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
}

#refleksPlusCarousel .owl-dots .owl-dot .pagi-btn:focus {
  outline: none;
}

#refleksPlusCarousel .owl-dots .owl-dot .pagi-btn-text {
  display: none;
  margin-left: 5px;
  color: #232474;
}

#refleksPlusCarousel .owl-dots .owl-dot .pagi-btn i {
  pointer-events: none;
}

#refleksPlusCarousel .owl-dots .owl-dot.active .pagi-btn-text {
  display: inline;
}

#refleksPlusCarousel .owl-item .item {
  background-position-y: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.rb-filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gotham Rounded Book";
  padding: 7px 0;
}

.rb-filter input {
  display: none;
}

.rb-filter input:checked + .checkmark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #4F1492;
  border-radius: 50%;
}

.rb-filter input:checked + .checkmark::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 50%;
  height: 50%;
  background-color: #4F1492;
  border-radius: 50%;
}

.rb-filter input:checked + .checkmark {
  background-color: #fff;
}

.rb-filter .checkmark {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #d8d8d8;
  border-radius: 50%;
  margin-right: 20px;
}

.filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.filter-item {
  display: inline-block;
  background-color: #edecec;
  padding: .5em .8em .5em .5em;
  border-radius: 25px;
  margin-right: 15px;
}

.filter-item button {
  border-radius: 50%;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
}

.filter-item button:focus {
  border: none;
}

#sec-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sec-menu.sm::after {
  content: none;
}

.logo {
  width: 150px;
  height: auto;
  z-index: 1005;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  margin: 0 auto;
}

.logo-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixed-menu {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.top-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 1.2em;
}

.top-ul li a {
  color: #707070;
}

.top-ul li:not(:last-child) {
  margin-right: 2em;
}

.search-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d8d8d8;
  padding: 5px 15px;
  border-radius: 25px;
  width: 350px;
}

.search-group input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
}

.search-group input:focus {
  border: none;
  outline: none;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: #707070;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  color: #009745;
}

.secondary-menu a img {
  margin-right: 10px;
  width: 50px;
}

.drop-menu, .drop-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.drop-menu li {
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.drop-menu li a {
  text-decoration: none;
  padding: 15px;
  display: block;
}

.drop-menu li:hover + .drop-btn {
  color: #009745;
}

.drop-menu ul {
  position: absolute;
  min-width: 200px;
  display: none;
  margin-top: 2px;
}

.drop-menu ul li {
  display: block;
  background: #fff;
}

.drop-menu li:hover ul {
  z-index: 99;
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nee {
  list-style-type: disc !important;
  list-style-image: url("../icons/cat-foot.svg") !important;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.nee li {
  margin-bottom: 10px;
}

.nee a {
  color: #fff !important;
}

.nee ul {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

.nee ul li {
  list-style-type: circle;
  list-style-image: none;
  font-style: italic;
}

.footer-title {
  font-family: "Gotham Rounded Bold";
}

.footer-title svg {
  font-family: "Gotham Rounded Light" !important;
  stroke: white;
  margin-right: 10px;
}

footer {
  color: white;
  position: relative;
}

.burger {
  width: 40px;
  height: 0px;
  border-radius: 4px;
  z-index: 1000;
}

.burger span {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #2a2a2a;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after {
  background-color: black;
}

.burger:hover {
  cursor: pointer;
}

.logoSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.5;
  visibility: visible;
}

.prod-benefits {
  list-style-image: url("../icons/cat-foot-dark.svg") !important;
}

.prod-benefits li {
  margin-bottom: 10px;
}

.nav-tabs {
  border-bottom: none;
  font-family: "Gotham Rounded Bold";
}

.nav-link {
  padding: .5rem 1rem 1rem 0rem;
}

.nav-tabs .nav-link {
  font-size: 1.3em;
  color: #bdbdbd;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-tabs .nav-link svg {
  stroke: #bdbdbd;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-link.active {
  border: none;
  color: #404040;
}

.menu-icon {
  font-size: 3em;
  margin-right: 5px;
}

.tab-menu-icon {
  font-size: 1.8em;
}

div.scroll-menu {
  overflow: auto;
  white-space: nowrap;
}

div.scroll-menu a {
  font-size: 1.3em;
  font-family: "Gotham Rounded Book";
  display: inline-block;
  color: #707070;
  text-align: center;
  padding: 1.5em 1em;
  text-decoration: none;
}

div.scroll-menu a.active {
  font-family: "Gotham Rounded Bold";
  color: #4F1492;
  position: relative;
}

div.scroll-menu a.active::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .1em solid;
  border-bottom: 0;
  position: absolute;
  color: #4F1492;
  bottom: 23px;
  left: 20%;
  right: 40%;
}

.corp-menu {
  border-radius: 8px;
  position: relative;
  top: -40px;
}

.corporate-tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.corporate-tab-menu .nav-item {
  width: 25%;
  text-align: center;
  border: 1px solid #efefef;
}

.corporate-tab-menu .nav-link {
  color: #707070;
  padding: 1em;
  font-size: 1.1em;
}

.corporate-tab-menu .nav-link.active {
  font-family: "Gotham Rounded Bold";
  color: #4F1492;
  background-color: white;
  position: relative;
}

.corporate-tab-menu .nav-link.active::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .8em solid;
  border-right: .8em solid transparent;
  border-bottom: 0;
  border-left: .8em solid transparent;
  position: absolute;
  color: white;
  bottom: -11px;
  left: 46%;
  right: 46%;
}

.contact-tab-menu .nav-item {
  text-align: center;
  font-size: 1.3em;
}

.contact-tab-menu .nav-link {
  color: #707070;
  padding: 1em;
  font-size: 1.1em;
}

.contact-tab-menu .nav-link.active {
  font-family: "Gotham Rounded Bold";
  color: #4F1492;
  background-color: white;
  position: relative;
}

.contact-tab-menu .nav-link.active::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .1em solid;
  border-bottom: 0;
  position: absolute;
  color: #4F1492;
  bottom: 10px;
  left: 25%;
  right: 25%;
}

@media screen and (min-width: 768px) {
  .secondary-menu .parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .drop-menu li:hover {
    border-bottom: 2px solid #009745;
  }
}

@media screen and (max-width: 768px) {
  #main-menu li a {
    font-family: "Gotham Rounded Bold";
    color: #4F1492;
  }
  .logoSearchBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-bar {
    width: 100%;
  }
  .top-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-ul {
    display: none;
  }
  .primary-menu li {
    display: block;
  }
  .primary-menu ul {
    position: static;
    background: white;
  }
  .logo {
    width: 80px;
  }
  .logo-section {
    width: 100%;
    padding: 10px 0px;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search-group {
    width: 100%;
  }
  .primary-menu {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3crect width='352' height='352' clip-path='url(%26quot%3b%23SvgjsClipPath1031%26quot%3b)' x='58.03' y='-42.42' fill='url(%23SvgjsPattern1032)' transform='rotate(61.95%2c 234.03%2c 133.58)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='315.88' cy='130.35' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/circle%3e%3cpath d='M719.32 197.18L730.01 204.22 725.5 216.2 736.19 223.24 731.68 235.22 742.37 242.26 737.86 254.24M711.71 199.65L722.41 206.69 717.89 218.67 728.59 225.71 724.07 237.69 734.77 244.73 730.25 256.71M704.1 202.12L714.8 209.16 710.28 221.14 720.98 228.18 716.46 240.17 727.16 247.2 722.64 259.19' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M259.11 347.38L246.95 351.39 240.37 340.41 228.2 344.42 221.62 333.43 209.46 337.44 202.88 326.46M261.9 339.88L249.74 343.89 243.16 332.91 230.99 336.92 224.41 325.93 212.25 329.94 205.67 318.96M264.69 332.38L252.53 336.4 245.95 325.41 233.78 329.42 227.2 318.44 215.04 322.45 208.46 311.46' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1.48' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1033%26quot%3b)' x='437.76' y='64.46' fill='url(%23SvgjsPattern1034)' transform='rotate(218.37%2c 515.76%2c 142.46)'%3e%3c/rect%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1035%26quot%3b)' x='1089.17' y='484.44' fill='url(%23SvgjsPattern1036)' transform='rotate(99.88%2c 1161.17%2c 556.44)'%3e%3c/rect%3e%3cpath d='M1165.81 615.4 L1228.67 522.85L1263.2083829751775 635.0933829751775z' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/path%3e%3cpath d='M859.16 216.48a5.6 5.6 0 1 0-11.03-1.93 5.6 5.6 0 1 0 11.03 1.93zM843.4 213.73a5.6 5.6 0 1 0-11.03-1.92 5.6 5.6 0 1 0 11.03 1.92zM827.64 210.98a5.6 5.6 0 1 0-11.03-1.92 5.6 5.6 0 1 0 11.03 1.92zM811.88 208.23a5.6 5.6 0 1 0-11.04-1.92 5.6 5.6 0 1 0 11.04 1.92z' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1.46' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M1221.9 521.93L1209.11 522.45 1205.79 510.09 1192.99 510.61 1189.68 498.24 1176.88 498.76 1173.56 486.39' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1.73' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='144' height='144' clip-path='url(%26quot%3b%23SvgjsClipPath1037%26quot%3b)' x='1214.77' y='445.77' fill='url(%23SvgjsPattern1038)' transform='rotate(66.67%2c 1286.77%2c 517.77)'%3e%3c/rect%3e%3crect width='139.44' height='139.44' clip-path='url(%26quot%3b%23SvgjsClipPath1039%26quot%3b)' x='297.76' y='401.1' fill='url(%23SvgjsPattern1040)' transform='rotate(95.17%2c 367.48%2c 470.82)'%3e%3c/rect%3e%3cpath d='M119.28 658.9000000000001 L189.95 622.14L195.01001466339622 680.9150146633962z' stroke='rgba(116%2c 37%2c 205%2c 0.13)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='8.8' height='8.8' patternUnits='userSpaceOnUse' id='SvgjsPattern1032'%3e%3cpath d='M4.4 1L4.4 7.800000000000001M1 4.4L7.800000000000001 4.4' stroke='rgba(116%2c 37%2c 205%2c 0.13)' fill='none' stroke-width='1.42'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1031'%3e%3ccircle r='88' cx='234.03' cy='133.58'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1034'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(116%2c 37%2c 205%2c 0.13)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1033'%3e%3ccircle r='39' cx='515.76' cy='142.46'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1036'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(116%2c 37%2c 205%2c 0.13)' fill='none' stroke-width='1.29'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1035'%3e%3ccircle r='36' cx='1161.17' cy='556.44'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='144' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1038'%3e%3crect width='144' height='3' x='0' y='0' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/rect%3e%3crect width='144' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1037'%3e%3ccircle r='36' cx='1286.77' cy='517.77'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='139.44' height='11.62' patternUnits='userSpaceOnUse' id='SvgjsPattern1040'%3e%3crect width='139.44' height='5.81' x='0' y='0' fill='rgba(116%2c 37%2c 205%2c 0.13)'%3e%3c/rect%3e%3crect width='139.44' height='5.81' x='0' y='5.81' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1039'%3e%3ccircle r='34.86' cx='367.48' cy='470.82'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    -webkit-transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .primary-menu.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .primary-menu li a {
    font-family: "Gotham Rounded Bold";
  }
  .corporate-tab-menu .nav-link {
    font-size: .8em;
  }
  .drop-menu ul li {
    padding-left: 20px;
  }
  .drop-menu li a {
    padding-left: 0px;
  }
  .drop-menu ul li:hover {
    border-bottom: 2px solid #009745;
  }
}

.btn-primary {
  font-family: "Gotham Rounded Bold";
}

.btn-form {
  padding: 20px 50px;
}

.btn_cta {
  position: relative;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9em;
  background-color: #fff;
  color: #404040;
  border-radius: 5px;
  max-width: 220px;
}

.btn_cta__img {
  width: 50px;
  z-index: 2;
  height: auto;
  margin-right: 10px;
}

.btn_cta__text {
  color: #707070;
}

.btn_cta:hover {
  color: #404040;
}

.btn-play {
  background-color: white;
  color: #232474;
  padding: 15px 20px;
  -webkit-box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
          box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
}

.btn-product-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #707070;
  border-radius: 35px;
  padding: 1.5em 2em;
  text-align: left;
  font-family: "Gotham Rounded Bold";
  color: black;
}

.btn-product-view:hover {
  border: 1px solid #009745;
}

.cta-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta-group :first-child {
  margin: 0 10px 0 0;
}

@media screen and (max-width: 768px) {
  .cta-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta-group :first-child {
    margin: 0 0 10px 0;
  }
}

.hero_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_card:__img {
  width: 100%;
}

.hero_card:__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_card:__body.title {
  font-weight: bold;
  font-size: 1.5em;
}

.food {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  height: 440px;
}

.food-content {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.rlx-card {
  color: #232474;
  padding: 20px;
}

.rlx-card-body {
  width: 75%;
  margin: 20px 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rlx-card-body p {
  font-size: 1.3em;
  font-family: "Gotham Rounded Book";
}

.post-card {
  position: relative;
}

.post-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.post-card-body {
  position: relative;
  top: -50px;
  background-color: #fff;
  margin: 0 15px;
  padding: 20px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.post-card-title {
  color: #232474;
  font-family: "Gotham Rounded Bold";
  font-size: 1.35rem;
}

.post-card-desc {
  font-family: "Gotham Rounded Book";
  color: #707070;
}

.post-card-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  border-top: 1px solid #707070;
}

.filter-card {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.filter-card .header {
  font-size: 1.2em;
  padding: .5em 1em;
}

.product-card {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.product-title {
  font-family: "Gotham Rounded Bold";
  font-size: 1.25em;
  margin: 1.5em 0 2.5em 0;
}

.product-desc {
  font-family: "Gotham Rounded Book";
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .prod-body {
    padding-top: 3em;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .filter-card {
    position: fixed;
    background-color: white;
    z-index: 1000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1077%26quot%3b)' x='299.42' y='3.18' fill='url(%23SvgjsPattern1078)' transform='rotate(235.3%2c 365.42%2c 69.18)'%3e%3c/rect%3e%3crect width='324' height='324' clip-path='url(%26quot%3b%23SvgjsClipPath1079%26quot%3b)' x='329.42' y='132.81' fill='url(%23SvgjsPattern1080)' transform='rotate(267.7%2c 491.42%2c 294.81)'%3e%3c/rect%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1081%26quot%3b)' x='1011.45' y='406.16' fill='url(%23SvgjsPattern1082)' transform='rotate(213.49%2c 1089.45%2c 484.16)'%3e%3c/rect%3e%3cpath d='M1140.15 389.15a5.6 5.6 0 1 0 11.17 0.76 5.6 5.6 0 1 0-11.17-0.76zM1156.11 390.24a5.6 5.6 0 1 0 11.17 0.77 5.6 5.6 0 1 0-11.17-0.77zM1172.07 391.34a5.6 5.6 0 1 0 11.18 0.77 5.6 5.6 0 1 0-11.18-0.77zM1188.03 392.44a5.6 5.6 0 1 0 11.18 0.76 5.6 5.6 0 1 0-11.18-0.76z' fill='rgba(221%2c 228%2c 235%2c 1)'%3e%3c/path%3e%3crect width='204' height='204' clip-path='url(%26quot%3b%23SvgjsClipPath1083%26quot%3b)' x='85.69' y='96.08' fill='url(%23SvgjsPattern1084)' transform='rotate(207.48%2c 187.69%2c 198.08)'%3e%3c/rect%3e%3cpath d='M692.5 67.89a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM681.59 79.6a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM670.69 91.31a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM659.79 103.02a5.6 5.6 0 1 0-7.64 8.2 5.6 5.6 0 1 0 7.64-8.2zM702.6 33.57a5.6 5.6 0 1 0-7.64 8.2 5.6 5.6 0 1 0 7.64-8.2zM691.69 45.28a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM680.79 56.99a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM669.89 68.7a5.6 5.6 0 1 0-7.64 8.2 5.6 5.6 0 1 0 7.64-8.2z' fill='rgba(221%2c 228%2c 235%2c 1)'%3e%3c/path%3e%3crect width='138.2' height='138.2' clip-path='url(%26quot%3b%23SvgjsClipPath1085%26quot%3b)' x='309.05' y='327.02' fill='url(%23SvgjsPattern1086)' transform='rotate(167.4%2c 378.15%2c 396.12)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='485.43' cy='377.17' stroke='rgba(229%2c 229%2c 229%2c 1)' stroke-width='1.81' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3cpath d='M961.12 413.81L961.51 401.01 974.08 398.58 974.47 385.78 987.05 383.35 987.44 370.55 1000.01 368.12' stroke='rgba(221%2c 228%2c 235%2c 1)' stroke-width='2.08' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1087%26quot%3b)' x='1222.4' y='383.17' fill='url(%23SvgjsPattern1088)' transform='rotate(212.87%2c 1288.4%2c 449.17)'%3e%3c/rect%3e%3cpath d='M507.67 226.94 L543.09 209.87L506.1086395719087 199.13363957190873z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3ccircle r='55.79326007031304' cx='1184.5' cy='372.06' stroke='rgba(221%2c 228%2c 235%2c 1)' stroke-width='2.74' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='132' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1078'%3e%3crect width='132' height='3' x='0' y='0' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/rect%3e%3crect width='132' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1077'%3e%3ccircle r='33' cx='365.42' cy='69.18'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1080'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1079'%3e%3ccircle r='81' cx='491.42' cy='294.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1082'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1081'%3e%3ccircle r='39' cx='1089.45' cy='484.16'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='204' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1084'%3e%3crect width='204' height='3' x='0' y='0' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/rect%3e%3crect width='204' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1083'%3e%3ccircle r='51' cx='187.69' cy='198.08'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.82' height='13.82' patternUnits='userSpaceOnUse' id='SvgjsPattern1086'%3e%3cpath d='M0 13.82L6.91 0L13.82 13.82' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1085'%3e%3ccircle r='34.55' cx='378.15' cy='396.12'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1088'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none' stroke-width='1.13'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1087'%3e%3ccircle r='33' cx='1288.4' cy='449.17'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    top: 0;
    right: 0;
    height: 100%;
    max-width: 515px;
    width: 75%;
    padding: 100px 40px 60px 40px;
    overflow-y: auto;
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
  }
  .filter-card.show {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .prod-body {
    color: black;
  }
  .rlx-card-body {
    width: 100% !important;
    margin: 20px 0 0 0px;
  }
}
/*# sourceMappingURL=main.css.map */