.btn-primary{
    font-family: $font-bold;
}
.btn-form{
    padding: 20px 50px;
}

.btn_cta{
    position: relative;
    padding: 1em;
    display: flex;
    align-items: center;
    font-size: .9em;
    background-color: $white;
    color: $dark;
    border-radius: 5px;
    max-width:220px ;
    &__img{
        width: 50px;
        z-index: 2;
        height: auto;
        margin-right: 10px;
    }
    &__text{
        color: $muted-color;
    }
    &:hover{
        color: $dark;
    }
}
.btn-play{
    background-color: white;
    color: $color-primary;
    padding: 15px 20px;
    box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
}

.btn-product-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid  $muted-color;
    border-radius: 35px;
    padding:1.5em 2em  ;
    text-align: left;
    font-family: $font-bold;
    color: black;
    &:hover{
        border:1px solid $color-secondary;

    }

}
.cta-group{
    display: flex;
    :first-child{
        margin: 0 10px 0 0;
    }
}

@include max-screen($break-small) {
    
    .cta-group{
      flex-direction: column;
      :first-child{
        margin: 0 0 10px 0;
    }
    }  
  }