
.hero_card{
    display: flex;
    &:__img{
        width: 100%;
    }
    &:__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.title{
            font-weight: bold;
            font-size: 1.5em;
        }
    }

}
.food{
    position: relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 440px;
}
.food-content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}



.rlx-card{
    color: $color-primary;
    padding: 20px;
}

.rlx-card-body{
    width: 75%;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        font-size:1.3em;
        font-family: $font-book;
    }
}
.post-card{
    position: relative;

    img{
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    &-body{
        position: relative;
        top: -50px;
        background-color: $white;
        margin: 0 15px;
        padding: 20px 10px ;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    &-title{
        color: $color-primary;
        font-family:$font-bold ;
        font-size: 1.35rem;
    }
    &-desc{
        font-family:$font-book ;
        color: $muted-color;
    }
    &-meta{
        display: flex;
        justify-content: space-between;
        padding-top:1em ;
        border-top: 1px solid $muted-color;
    }
} 
.filter-card{
    transition: transform 0.3s;
    .header{
        font-size: 1.2em;
        padding:.5em 1em;
    }

}

.product-card{
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
}
.product-title{
    font-family: $font-bold;
    font-size: 1.25em;
    margin: 1.5em 0 2.5em 0;
}
.product-desc{
    font-family: $font-book;
    margin-bottom: 2em;
}

//product-detail
.prod-body{
}


@include min-screen($break-small){
    .prod-body{
        padding-top: 3em;
        color: $white;
    }
    
}
  

@include max-screen($break-small) {
    .filter-card{
        position: fixed;
        background-color: white;
        z-index: 1000;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1077%26quot%3b)' x='299.42' y='3.18' fill='url(%23SvgjsPattern1078)' transform='rotate(235.3%2c 365.42%2c 69.18)'%3e%3c/rect%3e%3crect width='324' height='324' clip-path='url(%26quot%3b%23SvgjsClipPath1079%26quot%3b)' x='329.42' y='132.81' fill='url(%23SvgjsPattern1080)' transform='rotate(267.7%2c 491.42%2c 294.81)'%3e%3c/rect%3e%3crect width='156' height='156' clip-path='url(%26quot%3b%23SvgjsClipPath1081%26quot%3b)' x='1011.45' y='406.16' fill='url(%23SvgjsPattern1082)' transform='rotate(213.49%2c 1089.45%2c 484.16)'%3e%3c/rect%3e%3cpath d='M1140.15 389.15a5.6 5.6 0 1 0 11.17 0.76 5.6 5.6 0 1 0-11.17-0.76zM1156.11 390.24a5.6 5.6 0 1 0 11.17 0.77 5.6 5.6 0 1 0-11.17-0.77zM1172.07 391.34a5.6 5.6 0 1 0 11.18 0.77 5.6 5.6 0 1 0-11.18-0.77zM1188.03 392.44a5.6 5.6 0 1 0 11.18 0.76 5.6 5.6 0 1 0-11.18-0.76z' fill='rgba(221%2c 228%2c 235%2c 1)'%3e%3c/path%3e%3crect width='204' height='204' clip-path='url(%26quot%3b%23SvgjsClipPath1083%26quot%3b)' x='85.69' y='96.08' fill='url(%23SvgjsPattern1084)' transform='rotate(207.48%2c 187.69%2c 198.08)'%3e%3c/rect%3e%3cpath d='M692.5 67.89a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM681.59 79.6a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM670.69 91.31a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM659.79 103.02a5.6 5.6 0 1 0-7.64 8.2 5.6 5.6 0 1 0 7.64-8.2zM702.6 33.57a5.6 5.6 0 1 0-7.64 8.2 5.6 5.6 0 1 0 7.64-8.2zM691.69 45.28a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM680.79 56.99a5.6 5.6 0 1 0-7.63 8.2 5.6 5.6 0 1 0 7.63-8.2zM669.89 68.7a5.6 5.6 0 1 0-7.64 8.2 5.6 5.6 0 1 0 7.64-8.2z' fill='rgba(221%2c 228%2c 235%2c 1)'%3e%3c/path%3e%3crect width='138.2' height='138.2' clip-path='url(%26quot%3b%23SvgjsClipPath1085%26quot%3b)' x='309.05' y='327.02' fill='url(%23SvgjsPattern1086)' transform='rotate(167.4%2c 378.15%2c 396.12)'%3e%3c/rect%3e%3ccircle r='46.666666666666664' cx='485.43' cy='377.17' stroke='rgba(229%2c 229%2c 229%2c 1)' stroke-width='1.81' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3cpath d='M961.12 413.81L961.51 401.01 974.08 398.58 974.47 385.78 987.05 383.35 987.44 370.55 1000.01 368.12' stroke='rgba(221%2c 228%2c 235%2c 1)' stroke-width='2.08' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1087%26quot%3b)' x='1222.4' y='383.17' fill='url(%23SvgjsPattern1088)' transform='rotate(212.87%2c 1288.4%2c 449.17)'%3e%3c/rect%3e%3cpath d='M507.67 226.94 L543.09 209.87L506.1086395719087 199.13363957190873z' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/path%3e%3ccircle r='55.79326007031304' cx='1184.5' cy='372.06' stroke='rgba(221%2c 228%2c 235%2c 1)' stroke-width='2.74' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='132' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1078'%3e%3crect width='132' height='3' x='0' y='0' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/rect%3e%3crect width='132' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1077'%3e%3ccircle r='33' cx='365.42' cy='69.18'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1080'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1079'%3e%3ccircle r='81' cx='491.42' cy='294.81'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1082'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1081'%3e%3ccircle r='39' cx='1089.45' cy='484.16'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='204' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1084'%3e%3crect width='204' height='3' x='0' y='0' fill='rgba(229%2c 229%2c 229%2c 1)'%3e%3c/rect%3e%3crect width='204' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1083'%3e%3ccircle r='51' cx='187.69' cy='198.08'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.82' height='13.82' patternUnits='userSpaceOnUse' id='SvgjsPattern1086'%3e%3cpath d='M0 13.82L6.91 0L13.82 13.82' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1085'%3e%3ccircle r='34.55' cx='378.15' cy='396.12'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1088'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(221%2c 228%2c 235%2c 1)' fill='none' stroke-width='1.13'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1087'%3e%3ccircle r='33' cx='1288.4' cy='449.17'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
        top: 0;
        right: 0;
        height: 100%;
        max-width: 515px;
        width: 75%;
        padding: 100px 40px 60px 40px;
        overflow-y: auto;
        -webkit-transform: translateX(120%);
        transform: translateX(120%);
        &.show{
            transform: translateX(0px);
        }
    }
    .prod-body{
        color: black;
    }
    .rlx-card-body{
        width: 100%!important;
        margin: 20px 0 0 0px;

    }
   
    
}






