@font-face {
  font-family: 'Museo700-Regular';
  src: url('Museo700-Regular.eot');
  src: url('Museo700-Regular.eot?#iefix') format('embedded-opentype'),
       url('Museo700-Regular.svg#Museo700-Regular') format('svg'),
       url('Museo700-Regular.ttf') format('truetype'),
       url('Museo700-Regular.woff') format('woff'),
       url('Museo700-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

