@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap");
body {
  background: #f0f8ea;
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-primary {
  color: #111045;
}

.bg-primary {
  background-color: #111045;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.shadow-xs {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
}

.btn {
  background-color: transparent;
  font-family: 'Roboto',Helvetica Neue,Helvetica,Arial,sans-serif;
  display: inline-block;
  border-radius: 3px;
  color: #111045;
  padding: .7rem .5rem;
  font-size: 1rem;
  border: 1px solid #f7b8b8;
  outline: none;
  letter-spacing: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  font-weight: 500;
}

.btn-primary {
  background-color: #111045;
  border: 1px solid #111045;
  color: white;
}

.btn-secondary {
  background-color: #e63946;
  border: 1px solid #e63946;
  color: white;
}

.btn-white {
  background-color: white;
  border: 1px solid white;
  color: #111045;
}

.btn-outline {
  border: 1px solid #f7b8b8;
  background-color: transparent;
  border-radius: 5px;
  color: #111045;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  border: none;
}

.btn-outline-primary {
  border: 1px solid #111045;
  color: #111045;
}

.btn-outline-primary:hover {
  background-color: #111045;
  color: white;
}

.btn-outline-secondary {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn-outline-secondary:hover {
  background-color: #e63946;
  color: white;
}

.btn-outline-white {
  border: 1px solid white;
  color: white;
}

.btn-outline-white:hover {
  background-color: white;
  color: #111045;
}

html {
  font-size: 12px;
}

header {
  background-color: transparent;
  color: #eee;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1.7rem;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.logo .span {
  font-weight: 300;
}

.site-nav {
  position: absolute;
  top: 100%;
  left: 0;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  display: block;
  padding: 1em 3em;
  color: white;
  text-decoration: none;
}

.site-nav a:hover, .site-nav a:focus {
  background-color: #a952ff;
}

.site-nav a:hover i, .site-nav a:focus i {
  color: white;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.2em;
  text-align: right;
  color: #a952ff;
}

.site-nav--open {
  height: auto;
}

.menu-toggle {
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 4.75px;
  width: 1.75em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  -webkit-transform: translateY(-5px) rotate(-90deg);
          transform: translateY(-5px) rotate(-90deg);
}

.toggler {
  width: 35px;
  padding: 3px;
}

.toggler .bar {
  background-color: white;
  margin: 3px 0px;
  height: 4px;
}

.intro {
  width: 100%;
  height: 100vh;
  background: #190b4f;
  background: linear-gradient(351deg, #190b4f 0%, #111045 100%);
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-none {
  display: none;
}

.searchForm {
  position: absolute;
  right: 30px;
  top: 0;
  height: 36px;
  width: 300px;
}

.searchForm input {
  width: 270px;
  text-indent: 10px;
  height: 100%;
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchForm button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

#searchIcon {
  width: 1.2em;
  text-align: center;
}

@media (min-width: 768px) {
  .site-nav {
    width: 350px;
    background: #111045;
  }
}

@media (max-width: 768px) {
  .site-nav {
    width: 100%;
    background: #111045e7;
  }
  .hide-sm {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */