@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$mutedColor: #757575;
$lightBgColor: #eeeeee8e;
$activeColor:#ff0000;


@mixin display($display, $align-items:"", $justify-content:"") {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}