@import 'abstracts';
@import 'base';


.homepage {
    display: flex;
     .left-menu {
    width: 20%;
    padding: 10px 0;
  }
}
.account_image {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.top_menu {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;

  .left {
    .logo {
      width: 80px;
      height: 40px;
    }
    .bars {
      margin-right: 32px;
      margin-left: 8px;
      font-size: 18px;
    }
    @include display(flex,center,flex-start); 
  }
  .center {
    display: flex;
    input {
      width: 32vw;
      height: 35px;
      border: 1px solid rgb(206, 206, 206);
      text-indent: 10px;
      font-size: 16px;
    }
    button {
      padding: 0 30px;
      border-radius: 0px;
      background-color: #f8f8f8;
      border-color: rgb(206, 206, 206);
      border-style: solid;
      border-width: 1px 1px 1px 0px;
      i {
        color: $mutedColor;
      }
    }
  }
  .right {
    
    @include display(flex,center,flex-end); 
   
    i {
      font-size: 19px;
      color: $mutedColor;
      margin-right: 30px;
    }
  }
}
.left-menu {
  .item {
    @include display(flex,center); 
   
    font-weight: 300;
    padding: 10px 0px;

    i,
    .img {
        display: flex;
        color: $mutedColor;
      justify-content: center;
      width: 30%;
      font-size: 18px;
      padding: 5px 0px;
    }

    .pp_image {
      background-image: url("https://images.unsplash.com/photo-1584339089855-2795cb396ce7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
      border-radius: 20px;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
  .item:active {
    background-color: #e5e5e5;
    font-weight: 600;
    i {
      color: $activeColor;
    }
  }
  h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
    color: #585858;
  }
  hr {
    border: 1px solid #e5e5e5;
  }
}

.text-muted {
  color: $mutedColor;
}

.video_list {
  background-color: $lightBgColor;
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  padding: 20px;
  width:100%
}
.video_card {
  .cover_image {
    
    width:  100%;
    height: 200px;
    object-fit: cover;
  }
  .header {
    display: flex;
    margin: 10px 0;

    .video_meta {
      flex-grow: 1;
      font-size: 16px;
      padding: 0 10px;
      .title {
        font-weight: 500;
        font-size: 1.3em;
        margin-bottom: 8px;
      }
      .subtitle {
        font-weight: 200;
        font-size: 1em;
        margin-top: 3px;
      }
    }
  }
}

//Video Page
.videopage {
  display: grid;
  padding: 30px;
  background-color: $lightBgColor;
  &__left{
    .video{
      width: 100%;
      height: 736px;
      object-fit: cover;
    }
  }
  &__right{
    padding: 0 20px;
    .next{

      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

}

@media only screen and (min-width: 1024px) {
  .video_list {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
  }
  .videopage {
    grid-template-columns: 73% 27%;  
  }
}
@media only screen and (max-width: 1024px) {
  .video_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .left-menu {
    display: none;
  }
  .videopage{
    grid-template-columns: repeat(1, 1fr);
  }
  .top_menu{
    padding:10px 25px;
    .bars,input,.right{
      display: none;
    }
    .center{
      button{
        padding: 0 0px;
        border-radius: 0px;
        background-color: transparent;
        border-color: transparent;
        border-style:none;
        border-width: 0px;
      }
    }
  }
  
}
